body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #FDF5E6;
  overflow-x: hidden;
}

/* Desktop Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  animation: fadeIn 2s ease-out;
  background-color: #FFC0CB;
  border: 5px solid #C4B8B8;
  border-radius: 10px;
}

.profile-pic {
  border-radius: 50%;
  object-position: top;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 2rem;
  border: 4px solid #fff;
  flex-shrink: 0;
}

.about-text {
  max-width: 600px;
}

.about-text h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #CD5C5C;
}

.about-text p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #666;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.gallery-item {
  background-color: #FFC0CB;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  max-width: 300px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 3px solid #C4B8B8;
}

.gallery-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.gallery-item p {
  font-size: 1rem;
  color: #666;
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-top: 2px solid #CD5C5C;
  margin-top: 2rem;
}

.contact h2 {
  margin-top: 0;
  color: #CD5C5C;
}

.contact p {
  color: #666;
  margin: 0.5rem 0;
}

.contact a {
  color: #CD5C5C;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
  height: auto;
  border-radius: 8px;
}

#modalDescription {
  color: white;
  margin-top: 5px;
  max-width: 90%;
  text-align: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .profile-pic {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .about-text h1 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .gallery {
    margin: 1rem;
  }

  .gallery-item {
    width: 100%;
    max-width: none;
  }

  .modal-content {
    max-width: 100%;
    max-height: 70%;
  }

  #modalDescription {
    max-width: 90%;
  }
}
